/var/*
!/var/cache
/var/cache/*
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/web/bundles/
.idea/
composer.phar
/web/assetic/
/web/css/
/web/fonts/
/web/js/
composer.lock

