<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">

    <php>
        <ini name="error_reporting" value="-1" />
        <server name="KERNEL_DIR" value="app/" />
    </php>

    <testsuites>
        <testsuite name="User Test Suite">
            <!--Do not run with API test suite -->
            <!--First run this after run API-->
            <file>tests/AppBundle/API/User/ApiUserCreationTest.php</file>
        </testsuite>
        <testsuite name="Api Test Suite">
            <!--<file>tests/AppBundle/API/TaskGroup/ApiTaskGroupCreationTest.php</file>-->
            <!--<file>tests/AppBundle/API/Task/ApiTaskCreationTest.php</file>-->
            <!--<file>tests/AppBundle/API/Task/ApiTaskEditingTest.php</file>-->
            <!--<file>tests/AppBundle/API/Task/ApiTaskRemovingTest.php</file>-->
            <!--<file>tests/AppBundle/API/TaskGroup/ApiTaskGroupEditingTest.php</file>-->
            <!--<file>tests/AppBundle/API/TaskGroup/ApiTaskGroupRemovingTest.php</file>-->
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
            <exclude>
                <directory>src/*Bundle/Resources</directory>
                <directory>src/*/*Bundle/Resources</directory>
                <directory>src/*/Bundle/*Bundle/Resources</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
